
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
   background-color: black;
}
.bgimg{background-image: 
    url("images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 97vh;
    position: relative;
    
    
}



.box{
    height: 97vh;
    width: 100%;
    opacity:0.8;
    position: absolute;
    top: 0;
    background-color: black;
    
}

nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav img{
    padding-top: 30px;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.b1{
    width: 125px;
    height: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    filter: opacity(100%);
    background-color: transparent;
    border-color: white;
    border: 1px solid;
}



.fa-solid fa-angle-down{
    padding-left: 2px;
}

.b2{
    height: 33px;
    width: 90px;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.hero{
    
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-style: normal;

    height: 200px;
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    margin-top: -2rem;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 9rem 2rem 2rem;

}

.hero :nth-child(1){
    font-weight: bolder;
    font-size: 50px;
    line-height: 1.5;
}


.hero:nth-child(2){
    font-weight: bolder;
    font-size: 20px;
    line-height: 2;
}

.hero :nth-child(3){
    font-size: 15px;
    line-height:2.5;
}

.mail{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 150px;
    margin-top: 15px;
    
}

input{
    height: 53px;
    width: 300px;
    border-radius: 5px;
    filter: opacity(100%);
    background-color: transparent;
    margin-right: 0.5rem;
    border: 1px solid ;
    border-color: white;
    color: rgb(168, 159, 159);
    padding-left: 15px;
    font-size: 16px;
    
}

.button2{
    height:55px ;
    width: 180px;
    font-family: "Martel Sans", sans-serif;
    font-size: 20px;
    font-weight: 700; 
    font-style: normal;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.linear{
    height: 100px;
    width: 100%;
    position: relative;
    margin-top: -.25rem;
    border-radius: inherit;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.borderlin{
    height: 100px;
    width: 100%;
    position: relative;
    align-items: center;
    border: solid .25rem transparent;
    border-top-width: 0.25rem;
    border-right-width: 0.25rem;
    border-left-width: 0.25rem;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-width: initial;
    border-bottom-color: initial;
    background: radial-gradient(50% 500% at 50% -420%, rgb(64, 97, 231, 0.4) 80%, rgb(0, 0, 0, 0.1) 100%), black;
}





